.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 10vh;
}



.info{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 46rem;
    align-items: center;
    
    height: 2rem;
  
    font-weight: 700;
    font-size: 0.875rem;


}

.created{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
   
    height: 1.188rem;
  

}

.created strong{
    color: var(--blue)
}

.done strong{
    color: var(--purple)
}


.created span, .done span{
    height: 1.1875rem;
    width: 1.5625rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;

    background: var(--gray-400);
    border-radius: 14px;
}


.done{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    height: 1.188rem;

}
